<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142947300988-urtct0rc1gtud1c2v893aa3dih01j3he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142947300988-urtct0rc1gtud1c2v893aa3dih01j3he</string>
	<key>API_KEY</key>
	<string>AIzaSyAzjfFYZI-s87rFjgCF9zd38sjnGmdQ6pY</string>
	<key>GCM_SENDER_ID</key>
	<string>142947300988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alonaNote</string>
	<key>PROJECT_ID</key>
	<string>alonanote</string>
	<key>STORAGE_BUCKET</key>
	<string>alonanote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142947300988:ios:3e8f0e36b84dc115f77bf9</string>
</dict>
</plist>